header {
	background: url(../static/img/banner.jpg) no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	height: 150px;
	padding-top: 50px;
}

.logout_button {
	position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
}