#table_container {
	padding: 20px;
	background-color: #eee;
	border: 1px solid #ddd;
}

table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	background-color: #fff;
}

thead tr th {
	padding: 10px;
	background-color: #2cb187;
	color: #fff;
}

tbody tr:hover,
tbody tr.active-row {
	background-color: #eee;
}

.checkbox_custom {
	opacity: 0;
	position: absolute;
}

.checkbox_custom + .checkbox_custom_label:before {
	content: '';
  background: #2cb187;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 2px;
  text-align: center;
}

.checkbox_custom:checked + .checkbox_custom_label:before {
	background-color: #fff;
	box-shadow: inset 0 0 0 2px #2cb187;
}

.checkbox_custom_reverse {
	opacity: 0;
	position: absolute;
}

.checkbox_custom_reverse + .checkbox_custom_reverse_label:before {
	content: '';
  background: #fff;
  border: 2px solid #2cb187;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 2px;
  text-align: center;
}

.checkbox_custom_reverse:checked + .checkbox_custom_reverse_label:before {
	background-color: #2cb187;
	box-shadow: inset 0 0 0 2px #fff;
}

label {
	margin: 0px;
}

/*-------- Form animation ---------*/

.fade-enter {
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.fade-leave {
	opacity: 1;
}

.fade-leave.fade-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}