td {
	padding: 10px 20px;
}

.student_presentation {
	display: inline-flex;
	align-items: center;
}

.avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
  background-position: center center;
  background-size: cover;
  margin-right: 20px;
}

.student_name {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
}

.student_name span.lastName {
	margin-right: 5px;
	text-transform: uppercase;
}

.student_name span.firstName {
	text-transform: capitalize;
}

.student_contact span:not(:first-child) {
	margin-left: 30px;
}

.student_contact>span>span {
	margin-right: 10px;
}

td.col-xs-6, td.col-xs-5 {
	border-bottom: 1px solid #eee;
}
