body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.aligncenter {
	text-align: center;
}

.alignleft {
	text-align: left;
}

button {
	font-family: 'Alegreya Sans SC', sans-serif;
	border: 2px solid #2cb187;
	color: #2cb187;
	background-color: #fff;
	margin: 0px 20px;
	padding: 10px;
	font-size: 1.1em;
	vertical-align: middle;
}
button:hover {
	color: #fff;
	background-color: #2cb187;
}

button:disabled {
	border: 2px solid #ddd;
	color: #ddd;
	cursor: not-allowed;
}

button.inverse {
	border: 2px solid #2cb187;
	color: #fff;
	background-color: #2cb187;
	float: right;
}

button span {
	margin-right: 5px;
	vertical-align: middle;
	padding-bottom: 3px;
}

button.disabled {
	border: 2px solid #ccc;
	color: #ccc;
	background-color: #fff;
}

button.btn_primary {
	border: 2px solid #204d74;
	color: #204d74;
}
button.btn_primary:hover {
	color: #fff;
	background-color: #204d74;
}

button.btn_danger {
	border: 2px solid #d9534f;
	color: #d9534f;
}
button.btn_danger:hover {
	color: #fff;
	background-color: #d9534f;
}

button.btn_alert {
	border: 2px solid #f0ad4e;
	color: #f0ad4e;
}
button.btn_alert:hover {
	color: #fff;
	background-color: #f0ad4e;
}

.bottom_button {
	margin-top: 20px;
}

input[type=checkbox] {
	cursor: pointer;
}

/*---------- Student Form / File ----------*/

.form-background,
.file-background {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
  // margin: 0 -21px;
}

.form-container,
.file-container {
	width: 50%;
	margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: #fff;
  top: 10%;
  position: relative;
  // transform: translateY(-52%);
}

.form-container h2,
.file-container .h2-like {
 	padding: 0px 20px;
	font-size: 30px;
	margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.form-container h3,
.file-container .h3-like {
	display: table;
	font-size: 24px;
  color: #2cb187;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #333;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

#studentForm,
#studentFile {
	padding: 0px 40px 40px 40px;
	text-align: center;
}

#studentFile_avatar {
	width: 150px;
	height: 200px;
  background-position: center center;
  background-size: cover;
}

.file_header {
	margin-left: 40px;
	margin-top: 40px;
	display: flex;
}
.file_header .lastName {
	text-transform: uppercase;
}
.file_header .firstName {
	text-transform: capitalize;
}

.inline-field {
	display: flex;
	align-items: center;
  padding: 10px 0px;
}

.inline-field input {
	width: 100%;
	padding: 5px 10px;
	border: none;
	border-bottom: 1px solid #aaa;
}

.inline-field span {
	float: left;
	padding: 0px 5px;
}

.label-like {
	margin: 0px;
	display: inline-block;
  max-width: 100%;
  font-weight: 700;
}

#close_window {
	float: right;
  padding: 0 5px;
  margin: 0px;
  font-size: 20px;
  cursor: pointer;
}

.form_comments_section {
	display: flex;
	flex-direction: column;
}

.alert-danger {
	margin-top: 5px;
}

/*.h3-like {
  padding: 60px 60px 0px 60px;
  font-size: 20px;
  color: #2cb187;
}*/